[submodule "vendors/yamp-sdk"]
	path = vendors/yamp-sdk
	url = git@github.com:yamp-project/yamp-sdk.git
[submodule "vendors/webkit"]
	path = vendors/webkit
	url = git@github.com:yamp-project/WebKit.git
